 
 <h1>Shop Smart, Save Big!</h1>

 <p>Starting point to create spoemthing more unique</p>
 
 <h3>Look for Smart items?</h3>
 <p>These will appear across the site as you add to your cart</p>

 <h3>Build a smart cart</h3>
 <p>The more smart items you buy together, the more YOU save!</p>
